body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.first-section {
    display: flex;
}

.half-div {
    width: 50%;
    margin-left: 10px;
    margin-top: 50px;
}

.half-div p {
    text-align: justify;
}

.half-div img {
    width: 80%;
    margin-top: 40px;
}

.button {
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.first-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.second-section {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 100px;
}

.exp {
    display: flex;
    margin-bottom: 100px;
}

.exp h3 {
    color: orange;
}

#one {
    box-shadow: 10px 10px 20px gray;
    padding: 10px;
    margin: 20px;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#two {
    box-shadow: 10px 10px 20px gray;
    padding: 10px;
    margin: 20px;
    border-left: 7px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}